@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(180, 132, 228);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.mobile {
  background-color: white;
  border: 2px solid #fff;
  border-radius: 10px;
}

.image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
  height: 400px;
  transition: 0.5s ease;
}

.mobile ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}

.mobile ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.mobile ul li button {
  border: none;
  background-color: transparent;
  color: gray;
  font-size: 18px;
}

.mobile ul li span {
  text-align: center;
  font-size: 14px;
  color: grey;
}

.mobile ul li button:hover,
.mobile ul li.active button {
  color: rebeccapurple;
}

.home {
  background-image: url("https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80");
}

.work {
  background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}

.blog {
  background-image: url("https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80");
}

.about {
  background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
}
