@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 135, 70);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  position: relative;
}

div {
  padding: 10px;
  background-color: rgb(216, 132, 76);
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

div input {
  padding: 5px;
  border-radius: 2px;
  border: 0;
  width: 35px;
}
